body{
  text-align:center;
  color:black;
  
  
}

.meu_cachorro{
  background:#690000;
  margin-top:80px;
  margin-right:50px;
  margin-left:50px;
}

#esporte{
   background:#000ac9
  
  
 
}

.painel{
  font-size:80px;
  margin-bottom:-170px;
  margin-top:-80px;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 100%;
  color:black;
}

.agradecimentos{

  
  
}