body{
  background-image:url("http://s2.glbimg.com/wB2k5I1ty4iVdwzurRl40rcoSqo=/e.glbimg.com/og/ed/f/original/2017/07/20/beach-1790049_960_720.jpg");
 background-repeat: repeat;
 background-size: 1800px;   
  }



h1{
 text-align:center;
   color:

}
.pet{
  width:380px;
 /*margin-left:auto;*/
  margin-right:auto;
  border:1px solid;
  background-color:white;
  
}
h2{
 text-align:center; 
  
  
}