h1{
  text-align: center;
  font-size: 90px;
font-family: 'Lobster', cursive;


} 
h2{
  font-size: 35px;
font-family: 'Lobster', cursive;
  

}
p{
  font-size: 25px;
  font-family: 'Comfortaa', cursive;
}
li{
 font-size: 25px;
font-family: 'Comfortaa', cursive;
}
.imagem{
  float: right;
}

.imagem2{
 margin-left: 25%;
  #margin-right: auto;
}