body{
  text-align: center;
  background-color: #222c80
  font-size:20px;
  background-image: url(https://i.pinimg.com/originals/a2/2e/57/a22e576697da7850dfa7949519f2d6df.jpg)  ;
  
  
 }
.div{
    margin-left: 400px;
    margin-right: 400px;
    margin-top:10px; 
    
  
  
}