body{
  background-image: url("https://http2.mlstatic.com/fundo-fotografico-tecido-madeira-rosa-220m-x-150m-D_NQ_NP_932027-MLB27411473395_052018-F.jpg");
  }
#a{
  
  color:#520e52;
 background-color:#cf76cf;
}
.image{
  margin-left:500px;
}
.b{
  background-color:#f3f584;
  margin-left:300px;
  margin-right:200px;
}
.c{
  background-color:#bafaff;
  margin-left:300px;
  margin-right:200px;
}
.d{
  background-color:#d7baff;
 margin-left:300px;
  margin-right:200px;
}
.e{
  background-color:#c3f7b2;
  margin-left:300px;
  margin-right:200px;
}
.f{
  background-color:#fab6dd;
  margin-left:300px;
  margin-right:200px; 
}
.g{
  background-color:#bfb6fa;
  margin-left:300px;
  margin-right:200px;
}
.h{
  background-color:#f07878;
  margin-left:300px;
  margin-right:200px;
}
.i{
  background-color:#acc3f2;
  margin-left:300px;
  margin-right:200px;
}