h1{
  color:#4286f4;
  font-family: 'Pacifico' , cursive;
  font-size: 40px;
}
P{
  color:#2a4268;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}



#Series-Favoritas{
  background-color:#870808;
  font-family: 'modak', cursive;
}
#Comidas-Favoritas{
  background-color:#87083d;
  font-family: 'Modak', cursive;
}
#Hobbies{
  color: white;
  background-image: url("https://i.pinimg.com/564x/30/d8/3b/30d83b509738a04ba922aaf6b7e20477.jpg");
  heigth:900px;
  background-repeat:no-repeat;
}
body{
  background-image:url("https://i.pinimg.com/564x/4d/50/b8/4d50b85bb26b9e02217033af89ba6b19.jpg");
  
