body, button, input, textarea, select, option {
font-family:'Arvo' ;  
}

body{
  background-image:
  url("https://cdn.suwalls.com/wallpapers/space/light-in-the-blue-universe-53563-1920x1200.jpg");
  background-size: 'cover';
  color:white;
}
.titulo{
  font-family:'Arvo';
  font-size:25px;
  text-align:center;
 line-height:0.5 ;
}
.principal{
  font-size:25px;
  line-height:1.8;
   border-color: white;
   border-width: 2px;
   border-style: solid;
   margin-right:250px ;
   margin-left:250px;
   border-radius:7px;
}
form{
  margin:5% 25%  ;
}
input, textarea, select, button {
  color:white;
  background-color:#1c1c1c;
}