h1 {
  color:#0713fc;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}
p{
  Color:#47d1c3;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}
#Hobbies{
  background-color:#e542f4;
  font-size: 24px;
}
.TEXTO{
  font-family: 'Della Respira', serif;
}
.huo{
  font-family: 'Lancelot', cursive;
  font-size 22px
}
#Series-Favoritas{
  background-color:#47d1ce;
  font-size: 23px;
}
.texto{
   font-family: 'Della Respira', serif;
}
#Filmes-Favoritos{
  background-color:#69e08b;
  font-size: 23px
}
.texto2{
    font-family: 'Della Respira', serif;
}
table, td, tr, th{
  border-spacing:1;
  border: 6px solid #e542f4 ;
  text-align: center;
  padding:10px;
  font-size:Open Sans;
  margin-left: auto;
  margin-right: auto;
}

.texto3{
  background-color:
}

