html{text-align:center;
 background-image:url("https://i.pinimg.com/474x/42/84/49/4284492751cb8b4f673e9c399252efb4.jpg");
}

h1{font-size: 60px;
}

.fontc{font-size:40px;}

div{ border-style: solid;
 }


p{font-style:Roboto;}

.ash{background-color:#d10faa ;}
.dani{background-color:#5b375e;}
.dhi{background-color:#f2e1f1;}
.dine{background-color:#db9107;}
.even{background-color: #ccffb5;}
.ester{background-color:#db9107;}
.gusB{background-color: #7d000f;}
.gusL{background-color:#58dbd5;}
.isa{background-color:#ab71bf;}
.jhuan{background-color:#09ba44;}
.paola{background-color:#fe2ef7;}
.vini{background-color:#ebdc10;}
.caio{background-color:#9524d6;}
.alvaro{background-color:#4f821d;}