body{
background-image:
  url(https://thumbs.gfycat.com/ClearGiddyAmoeba-size_restricted.gif);
}
input{
  border: 1px solid black;
}
button{
  border: 1px solid black;
  color:black;
}
b{
  color:black;
  font-family: 'Courgette', cursive;
}
