body{
background-image:url("http://getwallpapers.com/wallpaper/full/1/3/e/518009.jpg");
background-position:center;
 }
h1 {
  color: white;
  font-size:35px;
  text-align: center;
}
h2{
  color: white;
}
h3{ 
  color:white;
}
p{
  color:white;
  
  font-size: 20px;
}
table, tr, th, td{
  border:1px solid;
  color:white;
}
table{
  width: 100%;
  margin-bottom : .2em;
  table-layout: fixed;
  text-align: center;
}


