body {
	background-color: #abe6ea;
}
h1{
  color: #2E64FE;
  font-size: 35px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h2{
  color:#2E64FE;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color:black ;
  font-family: 'Montserrat', sans-serif;
}
li{
	color: black;
	font-family: 'Montserrat', sans-serif;
}