body{
  text-align:center;
  background-image:url("https://image.freepik.com/vetores-gratis/fundo-poligonal-azul-escuro_43746-1.jpg")
  
}

.formulario{
  text-align:center;
  background-color:#30526e;
  margin-left:250px;
  margin-right:250px;
  margin-top:30px;
  margin-bottom:50px;
  padding-top:10px;
  padding-bottom:20px;
  border-style:double;
  border-width:2px;
  border-color:#184154;
  
}