h1 {
  color: blue;
  font-family: 'Pacifico', cursive;
}

b {
  color: red
  font-size:100px;
  font-family: 'Pacifico', cursive;
}
p {
  color:blue;
  font-family: 'Pacifico', cursive;
  font-size:30px;
}

section { 
  color: red
}
div {
  background-color: black;
  font-size: 10px;;
  backgroun-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUGFqMDFpYYOK2NGjNaWpQIa6v13nEF082dho93azmIapzh527JA")
  
    
}

li {
  color:blue; 
    font-family: 'Pacifico', cursive;
  font-size:10px;
}

.imagem-it {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 
.tabela {
  background-color: gray
}

.tabela, tr, th, td {
  border: 10px solid black
} 

th, td {
  padding: 10px
}

tr { 
  tekt-align: center 
}

.tabela {
  margin left: auto
  margin left: auto 
}








