body{
  background-color: white;
  color:#FFFF00;
    font-family:Bangers;
  margin: 0px;
    background-image:url("https://i.pinimg.com/236x/a3/54/9c/a3549ccf9d6b89ed782da288adca48a2.jpg");
  
}
h1{
  color:#FFFF00
}
h2{
  text-decoration:underline, line-through
}
p{
  font-size:20px;
  font-family:Bangers;
  font-weihg:bold;
  text-align:   
}
div{
  background:#cecec4;
  border:2px dashed red;
  margin: 50px;
 
  /*padding:10px*/
}
.lista{
  background-color:#cecec4;
  font-size:20px
}
img{
  padding-left:50px;
  margin-left:auto;
  margin-right:auto;
}
.litrao{
  background-color:#cecec4;
 }
a: houver{
  color:#cecec4
}
.colorado{
  background-image:url("http://1.bp.blogspot.com/-Zc0GyhTnYIA/TaYFpJvDGrI/AAAAAAAAAAU/jvSSrIuekXI/s1600/phoca_thumb_l_pano_bemvindoaoinferno%255B1%255D.jpg");
    background-size:cover;
  background-position:2 px bottom;
  margin: 0;
}
table, td, caption{
 
  border-spacing: 0px;
  text-align: center;
  font-size:14px;
  font-family:'Permanent Marker';
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  
}
table{
   border: 1px solid white;
   background-color:red
}
td{
  border-right:1px solid white;
  border-bottom:1px solid white;
}
#perfil{
  height:250px;
}
.tupac{
  font-size:20px;
}
.musicas{
  font-size:20px;
}
.rapFunk{
  height:200px;
}
.esportes{
  height:150px;
}
.comidas{
  height:200px;
}
