.App {
  width: 100%;
  text-align: center;
}

.Header {
  margin: 0 8%;
}

.Main {
  margin-top: 14px;
  margin-bottom: 48px;
  margin-right: 5%;
  margin-left: 5%;
}

.Main .Title {
  text-transform: uppercase;
}

.Header p {
  padding: 10px 0;
  text-align: justify;
  font-style: italic;
}

.Logo {
  width: 95%;
  height: auto;
  padding: 10px;
}

.Footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;               
  justify-content: space-between;
  padding: 2px 14px;
  background-color: #26BDCF;
}

.Footer a {
  color: white;
}

.Footer .FavoriteIcon {
  height: 12px;
  width: 12px;
}

.Footer .FavoriteIcon:hover {
  color: #EF5BA1;
}

.GroupPanel {
  /* created on http://www.patternify.com */
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2N8//59AwMOwAiSFBQUxKpg0EkCANJJG1UAh5gpAAAAAElFTkSuQmCC    
  ) repeat;
}

.GroupPanel .Title {
  font-weight: 700;
  color: #26BDCF;
}

.GroupPanel .GroupPanelDetails {
  /* reference https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.ProjectCard {
  width: 200px;
  margin: 14px;
}

.ProjectCard .Title {
  font-weight: 400;
  color: #EF5BA1;
}

.ProjectCard .CardContent {
  padding: 10px !important;
}

.ProjectCard .CardDescription {
  padding: 2px;
  font-style: italic;
}

.ProjectCard img {
  height: 140px;
}

.ProjectCard ul, .ProjectCard ul div {
  text-align: center;
  padding: 0;
}

.ProjectCard a:hover {
  background-color: #EF5BA1;
}

