.App {
  text-align: center;
}

.ProjectCard {
  width: 200px;
  height: 100%;
  margin: 0 auto;
}

.ProjectCard img {
  height: 140px;
}

.ProjectCard a:hover {
  cursor: pointer;
}

.ProjectCard nav {
  padding: 0;
  margin-top: 12px;
}

.ProjectCard nav div {
  text-align: center;
}

