.App {
  width: 100%;
  text-align: center;
}

.Header, .Main {
  margin: 0px 100px;
}

.Main {
  margin-bottom: 48px;
}

.Main .Title {
  text-transform: uppercase;
}

.Header p {
  text-align: justify;
  margin: 14px;
  font-style: italic;
}

.Logo {
  width: 90%;
  height: auto;
}

.Footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;               
  justify-content: space-between;
  padding: 2px 14px;
  background-color: #26BDCF;
}

.Footer a {
  color: white;
  font-weight: bold;
}

.Footer .FavoriteIcon {
  height: 12px;
  width: 12px;
}

.Footer .FavoriteIcon:hover {
  color: #EF5BA1;
}

.ProjectCard {
  width: 200px;
  height: 100%;
  margin: 0 auto;
}

.ProjectCard img {
  height: 140px;
}

.ProjectCard a:hover {
  cursor: pointer;
}

.ProjectCard nav {
  padding: 0;
  margin-top: 12px;
}

.ProjectCard nav div {
  text-align: center;
}
