body{
  background-color:#E5D1E6;
  font-family: Pacifico;
  background-image: url("https://www.extra-imagens.com.br/decoracao/papeldeparede/5190862/150671501/Papel-de-Parede-Space-5190862.jpg");
}
h1{
  color:#941414;
  background-color: pink;
}

p{
  font-size:25px;
 text-align: left;
}

div{
  background-color: red;
  padding:50px 30px;
  /*padding: t: top, r: right, b: botton, l: left.*/
  margin:50px;
  border:3px solid black;
  /* dashed, double, groove, dotted */
  border-left: 5px dotted;
  border-radius: 20px;
}

#texto{
  background-color: pink;
    width: 400px;
}

#topicos{
  background-color: #7B68EE
}
#imagem{
  background-color:#00FFFF;
  width: 400px;
}
.lista{
 background-color: #FF1493
}

ol li{
  font-family: verdana;
}

a:hover{
  font-size: 30px;
  color:#D02090
}
 
table {
  color: 
}
table, td {
  border-spacing:0;
  border: 1px solid black;
}
.cabecalho{
  font-weight: bold;
}
.tabela{
  background-color:#00FF7F
}
.imgg {
  float: right;
  width: 300px;
  height: 150px;
}