


html::after {
  content: "";
  background: url("https://png.pngtree.com/thumb_back/fw800/back_pic/05/06/64/72596f354149481.jpg");
  opacity: .;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

body{
  font-family:  'Carter One', cursive;
    }

h1{
 color: white;
 font-size:50px;
 text-align: center;
}
h2{
  color: white;
}
p{
  color: white;
  font-size:25px;
  text-align: center;
}

h4{
  color:white;
    font-family:'Old Standard TT', serif;
   font-size:15px;
}


#nome{
  font-size:20px;
  font-color: white;
}
