body{
  background-image: 
  url("https://2.bp.blogspot.com/-DDZHEmEmXX4/T-JvhZWsrMI/AAAAAAAAALs/BXf1dQDf6HU/s1600/171988.jpg");
  background-size: cover;
  align-content: center;
  text-align: center;
  vertical-align: baseline;
  font-family: 'Chewy', cursive;
} 

.titulo{
  background-color: black;
  font-size: 25px;
   margin-top: 10%;
}

h1{ 
  color: blue;
}

#nome{
  width: 50%;
  border: 5px solid #00FFFF;
  color:black;
  border-radius:10px;
}

#email{
  width: 30%;
  border: 5px solid #00FFFF;
  border-radius:10px;
  
}

#tel{
  width: 19%;
  border: 5px solid #00FFFF;
  border-radius:10px;
  
}

button{
  width: 51%;
  border: 5px solid #00FFFF;
  border-radius:30px;
  font-family: 'Chewy', cursive;
  height: 50px;
  font-size:30px;
}

#msg{
  width: 50%;
  border: 5px solid #00FFFF;
  border-radius:10px;
  font-family: 'Chewy', cursive;
}

input{
  font-size: 20px;
  height: 40px;
  font-family: 'Chewy', cursive;
}

form{
  margin-top: 12%;
  
}
