body{
  text-align:center;
  background-image:url("https://wallpaperaccess.com/full/309082.jpg");
  color:white;  
  font-size:160%;
}

.td{
  border-style:solid;
  text-align:center;
  
}
.referencia{
  text-align:left;
}