body{
  font-family:'Open Sans';
  text-align:justify;
  margin:auto 20%;
}
h1{
  color:#EE964B;
}
h2{
  color:#28AFB0;
}
textarea {
  width:100%;
}
.icone_instagram{
  width:20px;
  height:20px;
}
.icone_facebook{
  width:20px;
  height:20px;
}

img {
  width: 100%;
}
